.header {
  height: rem(60px);
  padding: var(--mantine-spacing-md);
  margin-bottom: var(--mantine-spacing-xl);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}
